<form action="/new" method="POST">
    <h1>Submit a new message</h1>
    <label for="userName"">Username:</label>
    <input id="userName" name="userName" placeholder="Enter your user name">
    <label for="message">Message:</label>
    <textarea id="message" name="message" placeholder="Enter your message"></textarea>
    <button type="Submit">Submit</button>
</form>